<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgw.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.xgw.model.Role">
    <id column="ID" jdbcType="OTHER" property="id" />
    <result column="ROLECODE" jdbcType="OTHER" property="rolecode" />
    <result column="ROLENAME" jdbcType="OTHER" property="rolename" />
    <result column="DEPART_AG_ID" jdbcType="OTHER" property="departAgId" />
    <result column="ROLE_TYPE" jdbcType="OTHER" property="roleType" />
    <result column="UPDATE_NAME" jdbcType="OTHER" property="updateName" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_BY" jdbcType="OTHER" property="updateBy" />
    <result column="CREATE_NAME" jdbcType="OTHER" property="createName" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_BY" jdbcType="OTHER" property="createBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLECODE, ROLENAME, DEPART_AG_ID, ROLE_TYPE, UPDATE_NAME, UPDATE_DATE, UPDATE_BY, 
    CREATE_NAME, CREATE_DATE, CREATE_BY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_S_ROLE
    where ID = #{id,jdbcType=OTHER}
  </select>
  
  
  <select id="getAllRole"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_S_ROLE
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from T_S_ROLE
    where ID = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.xgw.model.Role">
    insert into T_S_ROLE (ID, ROLECODE, ROLENAME, 
      DEPART_AG_ID, ROLE_TYPE, UPDATE_NAME, 
      UPDATE_DATE, UPDATE_BY, CREATE_NAME, 
      CREATE_DATE, CREATE_BY)
    values (#{id,jdbcType=OTHER}, #{rolecode,jdbcType=OTHER}, #{rolename,jdbcType=OTHER}, 
      #{departAgId,jdbcType=OTHER}, #{roleType,jdbcType=OTHER}, #{updateName,jdbcType=OTHER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=OTHER}, #{createName,jdbcType=OTHER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.xgw.model.Role">
    insert into T_S_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rolecode != null">
        ROLECODE,
      </if>
      <if test="rolename != null">
        ROLENAME,
      </if>
      <if test="departAgId != null">
        DEPART_AG_ID,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="rolecode != null">
        #{rolecode,jdbcType=OTHER},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=OTHER},
      </if>
      <if test="departAgId != null">
        #{departAgId,jdbcType=OTHER},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=OTHER},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=OTHER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=OTHER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=OTHER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgw.model.Role">
    update T_S_ROLE
    <set>
      <if test="rolecode != null">
        ROLECODE = #{rolecode,jdbcType=OTHER},
      </if>
      <if test="rolename != null">
        ROLENAME = #{rolename,jdbcType=OTHER},
      </if>
      <if test="departAgId != null">
        DEPART_AG_ID = #{departAgId,jdbcType=OTHER},
      </if>
      <if test="roleType != null">
        ROLE_TYPE = #{roleType,jdbcType=OTHER},
      </if>
      <if test="updateName != null">
        UPDATE_NAME = #{updateName,jdbcType=OTHER},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=OTHER},
      </if>
      <if test="createName != null">
        CREATE_NAME = #{createName,jdbcType=OTHER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgw.model.Role">
    update T_S_ROLE
    set ROLECODE = #{rolecode,jdbcType=OTHER},
      ROLENAME = #{rolename,jdbcType=OTHER},
      DEPART_AG_ID = #{departAgId,jdbcType=OTHER},
      ROLE_TYPE = #{roleType,jdbcType=OTHER},
      UPDATE_NAME = #{updateName,jdbcType=OTHER},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=OTHER},
      CREATE_NAME = #{createName,jdbcType=OTHER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=OTHER}
    where ID = #{id,jdbcType=OTHER}
  </update>
</mapper>