<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgw.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.xgw.model.Test">
    <id column="TID" jdbcType="VARCHAR" property="tid" />
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AID" jdbcType="VARCHAR" property="aid" />
  </resultMap>
  <sql id="Base_Column_List">
    TID, ID, AID
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.xgw.model.TestKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TEST
    where TID = #{tid,jdbcType=VARCHAR}
      and ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="getAllTest"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TEST
   
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.xgw.model.TestKey">
    delete from TEST
    where TID = #{tid,jdbcType=VARCHAR}
      and ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xgw.model.Test">
    insert into TEST (TID, ID, AID)
    values (#{tid,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{aid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xgw.model.Test">
    insert into TEST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        TID,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="aid != null">
        AID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgw.model.Test">
    update TEST
    <set>
      <if test="aid != null">
        AID = #{aid,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=VARCHAR}
      and ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgw.model.Test">
    update TEST
    set AID = #{aid,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=VARCHAR}
      and ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>